body{
	background: linear-gradient(to right, #CFECF5, #A9E2F5);
}

ul{
	text-align: right;
}

li{
	display: inline;
	margin: 5px;
	padding: 6px;
	background-color: #07689F;
}

a{
	text-decoration: none;
	font-size: 24px;
}

a:link{
	color: #FFC93C;
}

a:hover{

	text-decoration: underline;
}

a:visited{
	color: #FFC93C;
}

a:active{
	color: yellow;
}


h1{
	font-family: sans-serif;
	font-size: 40px;
	color: #07689F;
	margin-top: 100px;
	text-align: center;
}

h2{
	font-family: monospace;
	font-size: 20px;
	color: #07689F;

}

table{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: : collapse;
	width: 50%;
	margin: auto;
	margin-top: 50px;
}

table td,
table th{
	border: 2px solid #07689F;
	padding: 8px;
	text-align: center;
	font-weight: bold;
	color: #07689F;

}

table th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	color: #07689F;

}

footer{
	text-align: center;
	margin-top: 80px;
}